<h1>Chat</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">
    <div *ngFor="let chat of chatService.chats"
          [ngClass]="{'text-right': chatService.usuario.uid == chat.uid}">
        <img [ngClass]="{'img-circle img-thumbnail mr-5': chat.photoURL}" [src]="chat.photoURL" alt="">
        <span class="badge" [ngClass]="{'bg-primary': chatService.usuario.uid == chat.uid,
                        'bg-success': chatService.usuario.uid != chat.uid}">{{chat.nombre}}</span>
        <p>{{chat.mensaje}}</p>
    </div>
    <!--
    <div class="text-right">
        <span class="badge bg-primary">Saúl</span>
        <p>Este es un mensaje de chat</p>
    </div>
    <div>
        <span class="badge bg-success">María</span>
        <p>Este es un mensaje de chat 2</p>
    </div>-->
</div>

<input type="mensaje" class="form-control" [(ngModel)]="mensaje" placeholder="Enviar mensaje" (keyup.enter)="enviarMensaje()">