<!--<div class="header">
  <div class="row">
    <div class="col-12">
      <img class="img" src="../assets/img/charla.png" alt="">
    </div>
    <div class="col-12">
      <span class="master">Master</span><span class="chat">Chat</span>
    </div>
  </div>
</div>
<div class="container main-container">
  <div class="col-md-12 text-right" *ngIf="chatService.usuario.uid">
    <button class="btn btn-outline-danger" (click)="chatService.logout()">Salir</button>
  </div>
  <app-login *ngIf="!chatService.usuario.uid"></app-login>

  <div class="chat-window" *ngIf="chatService.usuario.uid">
    <app-chat></app-chat>
  </div>
</div>-->
<div class="container main-container">
  <div class="center">
    <div *ngIf="!chatService.usuario.uid" class="row login-container">
      <div class="col-lg-6 col-sm-12 title-container">
        <div class="row">
          <div class="col-12">
            <img class="img" src="../assets/img/chat.png" alt="">
          </div>
          <div class="col-12">
            <span class="master">Master</span><span class="chat">Chat</span>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12 social-container">
        <app-login></app-login>
      </div>
    </div>
  </div>

  <div class="chat-window" *ngIf="chatService.usuario.uid">
    <app-chat></app-chat>
  </div>
</div>
