<div class="row">
    <div class="col-md-12 text-center">
        <p>Ingrese al chat con su cuenta favorita</p>
        <button type="button" class="float google mr-5" (click) = "ingresar('google')"><i class="fab fa-google my-float"></i></button>
        <button type="button" class="float facebook mr-5" (click) = "ingresar('facebook')"><i class="fab fa-facebook-f my-float"></i></button>
        <button type="button" class="float github" (click) = "ingresar('github')"><i class="fab fa-github my-float"></i></button>
    </div>
</div>
