<div class="row">
    <div class="col-md-12 text-center">
        <p class="login-text">Ingrese al chat con su cuenta favorita</p>
    </div>
    <div class="col-md-12">
        <button type="button" class="btn google" (click) = "ingresar('google')"><i class="fab fa-google my-float"></i>Ingresar con Google</button>
    </div>
    <div class="col-md-12">
        <button type="button" class="btn facebook" (click) = "ingresar('facebook')"><i class="fab fa-facebook-f my-float"></i>Ingresar con Facebook</button>
    </div>
    <div class="col-md-12">
        <button type="button" class="btn github" (click) = "ingresar('github')"><i class="fab fa-github my-float"></i>Ingresar con GitHub</button>
    </div>
</div>