.main-container{
  margin-top: 40px;
  margin-bottom: 150px;

}

.puntero{
  cursor: pointer;
}

.text-right{
  text-align: right;
}
.chat-window{
  width: 100%;
  height: 900px;
  overflow: hidden;
  border-radius: 20px;
}
.center{
  padding-left: 200px;
  padding-right: 200px;
}
.app-mensajes{
  overflow-y:scroll;
  height: 775px;;
  background:#eef5f9;
  padding: 15px;
  margin-bottom: 10px;
}

.header{
  background: #1f6f8b;;
  height: 535px;
  padding-top: 109px;
  text-align: center;
  border-radius:0 0 350px 350px;
}

.img{
  width:245px;
}

.side {
  display:inline-block;
}

.mr-5{
  margin-right: 5px;;
}

.img-circle {
  border-radius: 100%;
  width: 35px;
}

.img-circle-profile {
  border-radius: 100%;
  width: 50px;
}

.img-thumbnail {
  padding: 0.15rem !important;
}

.google{
  background-color: #dd4b39;
  border-color: rgba(0,0,0,0.2);
}

.navbar-brand{
  margin-left: 10px !important;
}

.navbar{
  padding-right: 15px !important;
}

.facebook{
  background-color: #3b5998;
  border-color: rgba(0,0,0,0.2);
}

.github{
  background-color: #444;
  border-color: rgba(0,0,0,0.2);
}

.float{
	width:310px;
	height:55px;
	bottom:40px;
	right:40px;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.btn-social{
  width: 70%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 15px 0;
  display: inline-block;
  font-size: 25px;
  line-height: 20px;
  text-decoration: none;
  color:#FFF;
	border-radius:50px;
  box-shadow: 2px 2px 3px #999;
  text-align: left;
}

.btn-social:hover{
  color:#FFF;
}

.my-float{
  font-size: 23px;
  margin-left: 8px;
  margin-right: 10px;

}

.login-text{
  font-family: helvetica;
  font-size: 30px;
  margin-bottom: 25px
}

body{
  background: black;
}

.social-container{
  background: #f7f9fb;
  padding-top: 55px;
  border-radius: 0px 0px 15px 0px;
}

.master{
  font-family: Helvetica;
  font-size: 90px;
  color: white;
}

.container{
  max-width: 100% !important;
}

.chat{
  font-family: Helvetica;
  font-size: 70px;
  color:white;
}

.login-container{
  text-align: center;
  background: #222222c9;
  border-radius: 15px 0px 15px 0px;
  height: 450px;
  margin-top: 230px;
}

.title-container{
  background: #062b3b;
  padding-top: 50px;
  border-radius: 15px 0px 0px 0px;
}


/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
